<!DOCTYPE html>
<html>
  <head>
    <title>BurningAirServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <ul class="navbar">
        <li><%= link_to "Planes", airplanes_path %></li>
        <li><%= link_to "Flights", flights_path %></li>
        <li><%= link_to "Admin", airplanes_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
